<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">FitBody Admin</div>
    <mat-nav-list>
      @for (item of visibleNavItems; track item.path) {
        <a mat-list-item [routerLink]="item.path" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="spacer"></span>
      @if (user()) {
        <span class="user-info">{{ user()!.fullName }} ({{ user()!.role }})</span>
      }
      <button mat-icon-button (click)="logout()" aria-label="Dang xuat">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
